rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow users to manage their own profile
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    
    // Any authenticated user can read the list of rooms for the lobby
    // and can create new rooms.
    // Only the admin can update or delete the main room document.
    match /rooms/{roomId} {
      allow read, create: if request.auth != null;
      allow update, delete: if resource.data.adminId == request.auth.uid;
    }
  }
}
